<!-- <app-add-book></app-add-book>
<app-list-of-books></app-list-of-books> -->

<!-- This is a placve holder for default ng-component and also provides information how angular works
It also provides information how angular is workign with routing. if anyting above router outlet displayed as it is -->

<!-- <app-add-book></app-add-book> if uncommented app-add books will be displayed as part of webload all the time and then router components will be displayed -->
<nav>
  <!-- This item provides how router naviga tion is used using routerlink it is used with '/routename'. -->
  <a routerLink="/addbook" routerLinkActive='active'>Add book</a>
</nav>
<router-outlet></router-outlet>


<!-- https://www.youtube.com/watch?v=Nehk4tBxD4o -->
<!-- Looks for information at 8:10 mins. defines how routeroutlet works -->
